@import "../../styles/components/header";
@import "../../styles/base/variables";

.header{
    background-color: white;
    font-size: 15px;
    position: fixed;
    z-index: 9999;
    
}

.container_logo{
    padding-top: 15px;
    padding-left: 200px;
    @media screen and (max-width: $small) {
      padding-left: 0px;  
    }
    @media screen and (max-width: $medium) {
        padding-left: 0px;  
      }
}

.header_container{
    display: flex;
    justify-content: space-around;
    padding-left: 40px;
    padding-right: 270px;
    height: 60px;
    @media screen and (max-width: $small) {
        display: flex;
        justify-content: space-between;
        padding-right: 0px;
    }
    @media screen and (max-width: $medium) {
        display: flex;
        justify-content: space-between;
        padding-right: 0px;
    }
}

.header_link{
    display: flex;
    height: 60px;
}


.links:hover{
    color: red;
}


.button_line{
    display: flex;
    position: relative;
    top: 14px;
    border-bottom: 1px solid red;
    transform: scaleX(0);
    transition: 0.3s;
}

.latamlyLogo{
    width: 140px;
    height: 30px;
}
.nav_container{
    height: 60px;
}

.container_links{
    padding-right: 25px;
}
.NavLinks{
    margin-top: 5px;
    color: black;
    @media screen and (max-width: $small) {
    border-bottom: 1px solid rgb(228, 228, 228);
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    
    }
    @media screen and (max-width: $medium) {
        border-bottom: 1px solid rgb(228, 228, 228);
        color: black;
        padding-top: 20px;
        padding-bottom: 20px;
        
        }
    
}
.NavLinks:hover{
    color: red;
}
.boxNavLink:hover + .button_line{
    transform: scaleX(80%);
    @media screen and (max-width: $small) {
        transform: scaleX(0);
        
        }
    @media screen and (max-width: $medium) {
        transform: scaleX(0);
        
        }
}
.button_es{
    color: black;
    @media screen and (max-width: $small) {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100vw;
    height: 52vh;
    background-color: #f3f3f3;
    z-index: 999;
    padding-left: 20px;
    font-size: 1em;
    text-align: left;

    }
    @media screen and (max-width: $medium) {
        position: fixed;
        top: 60px;
        left: 0;
        width: 100vw;
        height: 52vh;
        background-color: #f3f3f3;
        z-index: 999;
        padding-left: 20px;
        font-size: 1em;
        text-align: left;
    
        }
    
}
.dropdown_es{
    @media screen and (max-width: $small) {
        color: black;
        text-align: left;
        }
    
}
.NavDropdownBasic{
    min-width:inherit;
    padding-top: 5px;
    color: black;
    @media screen and (max-width: $small) {
        padding-top: 17px;
        }
    @media screen and (max-width: $medium) {
        
        padding-top: 20px;
        }

}
.boxMainDropdownBasic{
    display: flex;
}

.boxDropDownLine{
    position: relative;
    top: 14px;
    left: -4px;
    border-bottom: 1px solid red;
    transform: scaleX(0);
    /* transform: scaleX(0.6); */
    transition: 0.3s;
}

.NavDropDCall:hover + .boxDropDownLine{
    transform: scaleX(0.6);
    @media screen and (max-width: $small) {
        transform: scaleX(0);
        
        }
    @media screen and (max-width: $medium) {
        transform: scaleX(0);
        
        }
}

.botonMenu{
    border: none;
    box-shadow: none;
    background-color: transparent;
}