@import "../../styles/components/environment";
@import "../../styles/base/variables";



.MainEnvironment{
    background-color: #1f2326;
    height: 30vh;
    padding-top: 6vh;
    @media screen and (max-width: $small) {
        height: 100%;
        padding-bottom: 6vh;
      }
}

.subEnvironment{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    @media screen and (max-width: $small) {
        display: flex;
        flex-direction: column;
      }
}

.cardEnvironment{
    display: flex;
    color: #FFFFFF57;
    text-align: left;
    @media screen and (max-width: $small) {
        display: flex;
        flex-direction: column;
      }
}
.boxCardEnvironment{
    border-left: 1px solid #FFFFFF57;
    font-size: 14px;
    padding-left: 1vh;
    
    p{
        padding-bottom: 0.5vh;
    }
    
}
.titleEnvironment{
    color: #FFFFFFCC;
    
    font-size: 0.9em;
}
.titleEnvironment p{
    /* border-bottom: 1px solid white; */
}

.boxTitle{
    padding-bottom: 3vh;
}

.logoEnvironment{
    width: 5.8vw;
    @media screen and (max-width: $small) {
        width: 22.9vw;
        padding-top: 25px;
        padding-bottom: 15px;
      }
}

.boxLogoEnvironment{
    padding-right: 1vw;
}