@import "../../styles/components/environment";
@import "../../styles/base/variables";


.FooterContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
    
}

.FooterLogo{
    width: 30.5vh;
}

.FooterCopyright{
    font-size: 0.83em;
    color: #000000;
    font-weight: 400;
}