@import "../../styles/components/hero";
@import "../../styles/base/variables";



.embed_responsive_16by9 {
    position: relative;
    height: 0;
    padding-bottom: 56.25%; /* Proporción 16:9 */
    overflow: hidden; /* Agrega esta propiedad */
    
  }
  
  .embed_responsive_16by9 iframe {
    position: absolute; 
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
  }
    
  .contenido{
    position: relative;
  }

  .overlay{
    position: absolute;
    top:85vh;
    left: 5vw;

  }
