.what_we_do{
    background-color: rgba(255, 255, 255, 0);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../../public/assets/img/latamly_latam_map.png");
    background-position: center;
    width: 100%;
    padding: 100px 0;
}